<?xml version="1.0"?>

<robot name="nsc_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
 <xacro:property name="robot_type" value="$(env ROBOT_TYPE)"/>
 <xacro:property name="robot_base_frame_rotation" value="$(env RDSCFG_fp_descriptions_robot_frame_rotation)"/>
 <xacro:property name="joint1_frame_rotation" value="$(env RDSCFG_fp_descriptions_j1_frame_rotation)"/>

 <xacro:include filename="$(find nsc_robot_p_arm_description)/urdf/p_arm.urdf.xacro" />
 <!-- <xacro:include filename="$(find nsc_robot_description)/urdf/nsc_robot_platform.xacro" /> -->
 <xacro:include filename="$(find nsc_robot_description)/urdf/nsc_robot_with_prob.gazebo" />
 <xacro:include filename="$(find nsc_robot_p_grip_description)/urdf/p_grip.urdf.xacro" />
 <xacro:include filename="$(find nsc_robot_platform_description)/urdf/platform_${robot_type}.urdf.xacro" />
 <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="mass" value="1" /> <!-- arbitrary value for mass -->
  <xacro:property name="width" value="0.8" />
  <xacro:property name="depth" value="1.0" />
  <xacro:property name="radius_wheel" value="0.1" />
  <xacro:property name="radius_small_wheel" value="0.05" />
  <xacro:property name="length_wheel" value="0.05" />
  <xacro:property name="height1" value="0.5" /> <!-- Link 1 -->
  <xacro:property name="height2" value="0.1" /> <!-- Link 2 -->
  <xacro:property name="height3" value="1" /> <!-- Link 3 -->
  <xacro:property name="camera_link" value="0.05" /> 
  <xacro:property name="axel_offset" value="0.05" />


    <xacro:property name="joint1_frame_rotation" value="0.0" />

  <xacro:p_arm name="lio" parent="platform_base_link" version="p_rob_2R">
    <origin xyz="0 0 0.382" rpy="0 0 ${joint1_frame_rotation}" />
  </xacro:p_arm>

      <xacro:p_grip  name="lio"  parent="lio_gripper_interface_link" version="p_grip_2F" orientation="up"/>


  <transmission name="tran1">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor1">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran2">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor2">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran3">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor3">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

    <transmission name="tran4">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor4">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

  <transmission name="tran5">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor5">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

    <transmission name="tran6">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="lio_joint6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor6">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

        <transmission name="trans7">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="base_to_wheel_front_left">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor7">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

            <transmission name="trans8">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="base_to_wheel_front_right">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
    </joint>
    <actuator name="motor8">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>

</robot>
